
{% load bootstrap4 %}
{% load static %}
{% block content %}

{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% endblock %}
<div class="body">
    <div class="container-fluid">
        <div style="margin: 0 auto; display: block;" class="box">
            <div class="lightbar"></div>
            <div class="topLayer"></div>
            <h2  > Instagram ...</h2>
        </div>
        <div  class="div">
            <img style="margin: 0 auto; display: block;"  src="/static/img/instalords.png" alt="" height="150">
            
        </div>

        <div style=" margin-top: 3%; display: flex; justify-content: space-evenly;" class="logss">
            <button><a
                    style="border-radius: 25px;text-decoration: none; letter-spacing: 0.3em; padding: 5px 13px; font-size: 35px; color: white; text-shadow: 0 0 3px #00b3ff,0 0 6px #00b3ff,0 0 9px #00b3ff,0 0 12px #00b3ff,0 0 18px #00b3ff;"
                    href="/accounts/register">Sign Up</a></button>
            <button><a
                    style="border-radius: 25px;text-decoration: none; letter-spacing: 0.4em; padding: 5px 13px; font-size: 35px; color: white; text-shadow: 0 0 3px #00b3ff,0 0 6px #00b3ff,0 0 9px #00b3ff,0 0 12px #00b3ff,0 0 18px #00b3ff;"
                    href="/accounts/login">Login</a></button>
        </div>
    </div>
</div>
{%endblock%}