{{message}}

{% if images %}
{% for image in images %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{image.image.url}}" alt="Card image cap">
    <div class="card-body">
        <h2>{{image.imageName}}</h2>
      <p class="card-text">{{image.imageCaption}}</p>
      <p class="card-text">{{image.likes}}</p>
      <p class="card-text">{{image.comments}}</p>
      <p class="card-text">{{image.date}}</p>
    </div>
  </div>

{% endfor %}

{%  else %}
<h2>There are no posts</h2>
{% endif %}