{%extends "django_registration/base.html"%} 
{% load bootstrap4 %} 
{% block content %}
<div style="background-color: #000; height: 120vh;" class="container-fluid">
   <div  class="row">
       <!-- Empty div -->
       <div class="col-md-4"></div>
       <div style="  margin-top: 10%; padding: 5%; color: white; box-shadow:  0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #fff,0 0 25px #fff,0 0 30px #fff;"  class="col-md-4">
           {% if form.errors %}
           <p> Password or Username is incorrect </p>
           {% endif %}
           <div class="panel panel-default">
 
               <div class="panel-heading">
                   <h3 class="text-center">Sign In</h3>
               </div>
               <div class="panel-body">
 
                   <form action="/accounts/login/" method="post">
                       {% csrf_token %} {% bootstrap_form form%}
 
                       <div class="form-group">
                           <input style="border-radius: 25px; margin-bottom: 6%; margin-top: 3%; box-shadow: 0 0 3px #fff,0 0 6px #fff,0 0 9px #fff,0 0 12px #fff,0 0 18px #fff;" type="submit" class=" btn-sm" value="Login">
                       </div>
 
                       <input type="hidden" name="next" value="{{next}}">
 
                   </form>
 
               </div>
 
           </div>
 
       </div>
       <!-- empty div -->
       <div class="col-md-4"></div>
   </div>
</div>
 
{% endblock %}
